.body {
    width: 1480px;
    height: 1282px;
    background-color: rgb(144, 226, 226);
    border: 2px solid red;
    margin-left: 0 auto;

}

.mainbox {
    width: 1280;
    height: 1189px;
    margin: 63px 100px 30px;
}

.header-container {
    width: 1280px;
    height: 189px;

}

.header-name {
    width: 334px;
    height: 79px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;

}

span1 {
    color: #000000;
}

span2 {
    color:
        #4BCAFF;
}

.link {
    text-decoration: none;
}

.nav {
    display: flex;

    width: 1280px;
    height: 69px;
    background: #35444F;
    
}

.nav_link1 {
    text-decoration: none;
    width: 266px;
    height: 27px;
    padding: 24px 33px 18px 192px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;


}

.nav_link2 { 

    text-decoration: none;
    width: 77px;
    height: 27px;
    padding: 26px 38px 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

}

.nav_link3 {
    text-decoration: none;
    width: 204px;
    height: 27px;
    padding: 24px 40px 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

}

.nav_link4 {
    text-decoration: none;
    width: 163px;
    height: 27px;
    padding: 24px 150px 18px 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border-right: 1px solid #35444F;
     

}




.infobox {
    width: 1280px;
    height: 832px;
    margin-top: 49px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
}

.aside {
    width: 344px;
    height: 399px;
    box-sizing: border-box;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;

}

.aside-text1 {
    width: 106px;
    height: 27px;
    margin-top: 26px;
    margin-left: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;

}

.aside-text2 {
    width: 226px;
    height: 27px;
    margin-top: 52px;
    margin-left: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #35444F;
}

.aside-text3 {
    width: 220px;
    height: 27px;
    margin-top: 52px;
    margin-left: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;

}

.aside-text4 {
    width: 179px;
    height: 27px;
    margin-top: 52px;
    margin-left: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.aside-text5 {
    width: 153px;
    height: 27px;
    margin-top: 52px;
    margin-left: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.main-content {
    width: 885px;
    height: 832px;
    align-items: flex-end;


    display: flex;
    flex-direction: column;
}

.bigimage {
    width: 100%;
    height: 529px;
    box-sizing: border-box;
    border: 1px solid #000000;

}

.smallimage {
    width: 320px;
    height: 381px;
    margin-left: 297px;
    margin-top: 75px;

}


.paragraph-first {
    width: 885px;
    height: 120px;
    margin-top: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;

}

.paragraph-second {
    width: 885px;
    height: 109px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    width: 1280px;
    height: 69px;
    margin-top: 54px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    
}

.footernav {
    width: 1050px;
    height: 69px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    
   


}

.footernav-list>li {
    display: inline-block;
    list-style-type: none;
   justify-content: flex-start ;
  
    
   
}

.copyright {
    width: 190px;
    height: 69px;
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
   text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
   
}